.navbar {
    background-color: #032039;
    padding: 10px;
}

.navList {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-right: 20px;
}

.link {
    color: rgb(245, 234, 234);
    text-decoration: none;
    padding: 10px 30px;
}

.link:hover {
    background-color: #4a0d3b;
    border-radius: 5px;
}
    